<div class="container ">
  <div class="col-12 mt-3">
    <div class="p-2 d-flex flex-wrap mb-3 shadow">
      <div>
        <% unless @artist.photo.nil? %>
          <%= cl_image_tag @artist.photo.photo, height: 200, width: 200, crop: "fill", class: "avatar" %>
        <% end %>
      </div>
      <div class="ml-3">
        <div>
          <h1><%= @artist.name %></h1>
          <p> <% unless @artist.business_email.nil? %>
                <%= image_tag "mail.png" %>
                <%= @artist.business_email %>
              <% end %>
              <%= link_to "https://www.instagram.com/#{@artist.instagram_username}/?hl=pt-br" do %>
            <i class="fab fa-instagram text-info pl-2"> @<%= @artist.instagram_username %></i>
            <% end %></p>
          <p> <strong>Description</strong><br>
          <%= @artist.description %>
        </p>
        </div>
      </div>
      <div class="ml-3">
        <p class="text-center mt-3"><strong>Contact the artist:</strong><p>
        <form action="mailto:"<%= @artist.user.email %> method="post" enctype="text/plain">
          Name:
          <input type="text" name="name" size="15" value="<%= current_user.name %>">
          E-mail:
          <input type="text" name="mail" size="15" value="<%= current_user.email %>">
          Message:
          <input type="text" name="comment" size="53"><br><br>
          <input type="submit" value="Send Message!" class="btn btn-secondary btn-block">
      </div>

    </div>

    <div class="p-2">
      <h3 class="text-left ml-3">Portfolio</h3>
      <div class="tattoo-artist-cards">
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        <% @artist.tattoos.each do |tattoo| %>
          <div class="tattoo-artist-relative">
            <div class="tattoo-card">
              <%= link_to cl_image_tag( tattoo.photo.photo, class:"tattoo-card-image"), tattoo_path(tattoo) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-3 shadow">
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>


    <%= link_to 'Back', artists_path, class: 'mt-3 btn btn-secondary' %>
  </div>
</div>
