<div class="container">
<div class="cardd d-flex ">
  <div class="d-flex col-9">
     <%= cl_image_tag @tattoo.photo.photo %>
  </div>
  <div class=" d-flex align-content-between flex-wrap col-3">
    <p>Description: <%= @tattoo.description %></p>
     <h3> Tags:<% @tattoo.tags.each do |tag| %>
      <%= tag.name %></h3>
    <% end %>
    <div class="imagem">
      <%= cl_image_tag @tattoo.artist_image, height: 200, width: 200, crop: "fill", class: "rounded-lg" %>
      <p> <%= link_to artist_path do %>
       <%= @tattoo.artist_name %> </p>
      <% end %>
    </div>
  </div>
</div>
</div>
