<div class="tattoo-show-container my-3">
  <div class="tattoo-show mb-3">
    <div class="tattoo-display-container">
      <div class="tattoo-photo">
        <%= cl_image_tag @tattoo.image, height: 550, crop: :fill, class:"rounded tattoo-display tattoo-shadow" %>
      </div>
    </div>

    <div class="tattoo-related-infos ml-3">
      <div class="tattoo-artist-show mb-3">
        <div class="tattoo-artist-image">
          <%= link_to(artist_path(@tattoo.artist)) do %>
            <%= cl_image_tag @tattoo.artist_image, height: 80, width: 80, crop: :thumb, class:"avatar" %>
          <% end %>
        </div>

        <div class="name pl-2">
          <%= link_to(artist_path(@tattoo.artist), class:"btn") do %>
            <%= @tattoo.artist_name %>
          <% end %>
        </div>
      </div>

      <div class="tattoo-description mb-3">
        <p><%= @tattoo.description %></p>
      </div>

      <div class="tattoo-tags">
        <% @tattoo.tags.each do |tag| %>
          <div class="tattoo-tags-tag">
            <%= link_to tag_path(tag) do %>
              <span class="<%= tag.css %>"><%= tag.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="related-tattoos mt-2 p-2">
      <!-- insert tag related tattoos -->
      <h5>  Related tattoos </h5>
      <div class="d-flex">
        <% @relate_tattoos.each do |t| %>
          <div class="tattoo-display-container mr-3">
            <%= link_to tattoo_path(t) do %>
              <%= cl_image_tag t.image, height: 150, crop: :fill, class:"rounded tattoo-display" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


