<div class="tattoo-show-container my-3">
  <div class="tattoo-show">
    <div class="tattoo-photo">
      <%= cl_image_tag @tattoo.image, height: 450, crop: :fill, class:"rounded" %>
    </div>

    <div class="tattoo-related-infos">
      <div class="tattoo-artist mb-3">
        <div class="tattoo-artist-image">
          <%= link_to(artist_path(@tattoo.artist)) do %>
            <%= cl_image_tag @tattoo.artist_image, height: 40, width: 40, crop: :thumb, class:"avatar" %>
          <% end %>
        </div>

        <div class="tattoo-artist-name">
          <%= link_to(artist_path(@tattoo.artist)) do %>
            <%= @tattoo.artist_name %>
          <% end %>
        </div>
      </div>

      <div class="tattoo-description mb-3">
        <p><%= @tattoo.description %></p>
      </div>

      <div class="tattoo-tags">
        <% @tattoo.tags.each do |tag| %>
          <div class="tattoo-tags-tag">
            <span class="<%= tag.css %>"><%= tag.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="related-tattoos">
    <!-- insert tag related tattoos -->
  </div>
</div>


