<div class="tattoo-show-container my-3">
  <div class="tattoo-show mb-3">
    <div class="tattoo-photo">
      <%= cl_image_tag @tattoo.image, height: 450, crop: :fill, class:"rounded" %>
    </div>

    <div class="tattoo-related-infos">
      <div class="tattoo-artist mb-3">
        <div class="tattoo-artist-image">
          <%= link_to(artist_path(@tattoo.artist)) do %>
            <%= cl_image_tag @tattoo.artist_image, height: 40, width: 40, crop: :thumb, class:"avatar" %>
          <% end %>
        </div>

        <div class="tattoo-artist-name pl-2">
          <%= link_to(artist_path(@tattoo.artist), class:"btn") do %>
            <%= @tattoo.artist_name %>
          <% end %>
        </div>
      </div>

      <div class="tattoo-description mb-3">
        <p><%= @tattoo.description %></p>
      </div>

      <div class="tattoo-tags">
        <% @tattoo.tags.each do |tag| %>
          <div class="tattoo-tags-tag">
            <span class="<%= tag.css %>"><%= tag.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="related-tattoos mt-3 p-2">
    <!-- insert tag related tattoos -->
    <h3> Related tattoos </h3>
    <% @relate_tattoos.each do |t| %>
      <%= link_to tattoo_path(t) do %>
      <%= cl_image_tag t.image, height: 150, crop: :fill, class:"rounded" %>
      <% end %>
    <% end %>
  </div>
</div>


