<div class="container my-10 ">

  <div class="all-tags text-center d-flex">
    <% @tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
        <div class= "tag-card my-3">
          <div class= "tag-img ">
            <%= cl_image_tag tag.tattoos.first.image, height: 130, crop: :fill, class: "imagem"%>
          </div>
          <div class= "tag-name">
            <span class="<%= tag.css %> m-3"><%= tag.name.capitalize %></span>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
  <h1 class= "p-3 "><%= @tag.name.capitalize %></h1>
  <div class="tattoo-cards justify-content-center">
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--2"></div>
    <div class="grid-col grid-col--3"></div>
    <% @tattoos.each do |tattoo| %>
        <div class="tattoo-relative">
          <div class="tattoo-card">
            <%= link_to(tattoo_path(tattoo)) do %>
              <%= cl_image_tag tattoo.image, class:"tattoo-card-image" %>
            <% end %>
            <div class="tattoo-card-infos">
              <div class="tattoo-card-tags">
                <% tattoo.tags.each do |tag| %>
                  <div class="tattoo-tag">
                    <span class="<%= tag.css %>"><%= tag.name %></span>
                  </div>
                <% end %>
              </div>
              <div class="tattoo-artist">
                <%= link_to(artist_path(tattoo.artist), class:"btn") do %>
                  <%= cl_image_tag tattoo.artist_image, class:"avatar", width: 50, height: 50, crop: :thumb %>
                <% end %>
              </div>
              <div>
                <p class="tattoo-artist-name">
                  <%= tattoo.artist_name %>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
