
<div>
  <% unless @user.photo.nil? %>
    <%= cl_image_tag @user.photo.photo, height: 200, width: 200, crop: "fill", class: "rounded-lg" %>
  <% end %>
</div>
<div>
  <h1><%= @user.name %></h1>
  <p> <strong>Email:</strong> <%= @user.email %> </p>
</div>
<%= link_to "Edit profile", edit_profile_path, class: "btn btn-secondary" %>
<% unless Artist.exists?(user_id: @user) %>
  <%= link_to "I'm an artist too!", new_artist_path, class: "btn btn-secondary" %>
<% end %>

