<div class="container">
  <div class="col-12 mt-3">
    <div class="shadow p-2 d-flex mb-3">
      <div>
        <% unless @profile.photo.nil? %>
          <%= cl_image_tag @profile.photo.photo, height: 200, width: 200, crop: "fill", class: "rounded-lg" %>
        <% end %>
      </div>
      <div class="ml-3">
        <div>
          <h1><%= @profile.name %></h1>
          <p> <strong>Email:</strong> <%= @profile.email %> </p>
          <% if Artist.exists?(user_id: @profile) %>
            <p> <strong>Description:</strong> <%= @profile.artist.description %> </p>
            <p> <strong>Instagram:</strong> <%= @profile.artist.instagram_username %> </p>
          <% end %>
        </div>
      </div>
      <div class="ml-auto">
        <%= link_to "Edit profile", edit_profile_path, class: "btn btn-secondary" %>
        <% unless Artist.exists?(user_id: @profile) %>
          <%= link_to "I'm an artist too!", new_artist_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>

    <% if Artist.exists?(user_id: @profile) %>
      <div class="shadow p-2">
        <h2 class="text-center">My Places</h2>
        <ul class="list-group">
          <% if @profile.artist.places.size.zero?  %>
            <li class="list-group-item rounded">
              <p>No place added yet :(</p>
            </li>
          <% end %>
          <% @profile.artist.places.each do |place| %>
            <li class="list-group-item rounded">
              <div class="d-flex justify-content-between">
                <div>
                  <%= place.address %>
                </div>
                <div>
                  <%= link_to "x", place_path(place), class: "btn btn-danger btn-sm" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <h6 class="text-center mt-3">Add Place:</h6>
        <%= simple_form_for [@profile, @place] do |f| %>
          <%= f.input :address, class: "flex-grow-1" %>
          <%= f.submit "Add Place", class: 'btn btn-secondary btn-block'%>
        <% end %>

      </div>

      <div class="shadow p-2 mt-3">
        <h2 class="text-center">My tattoos</h2>
        <div class="mb-3">
          <%= link_to "Add Tattoo", new_tattoo_path, class: "btn btn-secondary btn-block" %>
        </div>
        <div class="tattoo-cards">
          <% @profile.artist.tattoos.each do |tattoo| %>
            <div>
              <%= cl_image_tag tattoo.photo.photo, height: 200, width: 250, crop: "fill", class:"artist-tattoo-card" %>
              <div>
                <% if tattoo.description.nil? %>
                  <p style="color: transparent"> - </p>
                <% else %>
                  <p> <%= tattoo.description %></p>
                <% end %>
              </div>
              <div>
                <%= link_to "Edit", edit_tattoo_path(tattoo), class: "btn btn-secondary btn-block" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

